body{
    background-color: dimgrey;
    font-size: 20px;
}
/* --------------------------------- */
#task_list{
    border: 2px solid black;
    padding: 10px;
    background-color: slategray;
}
/* --------------------------------- */
#task_list a{
    text-decoration: none;
    color: powderblue;
}
/* --------------------------------- */
#task_list a s{
    color: dimgrey;
}
/* --------------------------------- */
#task_list ul{
    padding: 0px;
    background-color: darksalmon;
    margin: 20px;
    list-style-type: none;
}
/* --------------------------------- */
#task_list ul li{
    margin: 2px;
    height: 50px;
    font-size: 40px;
}
/* --------------------------------- */
#task_detail{
    border: 3px double green;
    background-color: beige;
    text-align: center;
}
/* --------------------------------- */
#task_create_form{
    text-align: center;
    background-color: darksalmon;
}