body{
    background-color: burlywood !important;
}
/* --------------------------------- */
.container{
    background-color: #f4f4f4;
    font-size: 20px;
}
/* --------------------------------- */
#task_list{
    border: 2px solid black;
    padding: 10px;
    background-color: slategray;
}
/* --------------------------------- */
#task_list a{
    text-decoration: none;
    color: powderblue;
}
/* --------------------------------- */
#task_list a s{
    color: dimgrey;
}
/* --------------------------------- */
#task_list ul{
    padding: 0px;
    background-color: darksalmon;
    list-style-type: none;
}
/* --------------------------------- */
#task_list ul li{
    margin: 2px;
    font-size: 40px;
    border-bottom: white 3px solid;
}
/* --------------------------------- */
#task_detail{
    border: 3px double green;
    background-color: beige;
    
}
/* --------------------------------- */
#task_create_form{
    text-align: center;
    background-color: darksalmon;
}
/* --------------------------------- */
.task-complete-icon{
    display: inline-flex;
    height: 20px;
    width: 20px;
    background-color: aquamarine;
    margin-inline: 10px;
    border-radius: 50%;
}
/* --------------------------------- */
.task-incomplete-icon{
    display: inline-flex;
    height: 20px;
    width: 20px;
    background-color: dimgrey;
    margin-inline: 10px;
    border-radius: 50%;
}